/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--tg-theme-bg-color);
}

/* Container for the signup form */
.login-container {
    background-color: var(--tg-theme-bg-color);
    width: 100%;
    max-width: 350px;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(74, 136, 154, 0.38);
    box-shadow: 0 1px 4px rgba(132, 225, 219, 0.27);
    text-align: center;
    height: 100%;
    margin: 50px auto 30px;
}

/* Heading */
.login-container h1 {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--tg-theme-text-color);
    font-family: 'Roboto Light', sans-serif;
}


/* Override autofill styles */
.login-container input:-webkit-autofill,
.login-container input:-webkit-autofill:hover,
.login-container input:-webkit-autofill:focus,
.login-container input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--tg-theme-bg-color) inset !important;
    box-shadow: 0 0 0 1000px var(--tg-theme-bg-color) inset !important;
    -webkit-text-fill-color: var(--tg-theme-text-color) !important;
    border: 1px solid #2e8e9f !important;
}

/* Input container */
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-container i:not(.toggle-password) {
    background-color: transparent !important;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #2e8e9f;
    font-size: 16px;
    pointer-events: none;
}

/* Input fields */
.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Space for the icon */
    border-radius: 8px;
    border: 1px solid #2e8e9f;
    color: var(--tg-theme-text-color);
    font-size: 14px;
    font-family: 'Roboto Light', sans-serif;
    transition: border-color 0.3s ease;
    background: var(--tg-theme-bg-color);
    outline: none;
}

/* Password toggle icon */
.input-container .toggle-password {
    background-color: transparent !important;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #2e8e9f;
}

.input-container .toggle-password:hover {
    color: #24b5cf;
}

input.visible {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 8px;
    border: 1px solid #2e8e9f;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-size: 14px;
    font-family: 'Roboto Light', sans-serif;
    transition: border-color 0.3s ease;
    outline: none;
}

.login-container input.visible[type="password"]:focus {
    border-color: #2e8e9f;
}

.login-container input[type="email"]:focus,
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #18b6d3;
    outline: none;
}

/* Submit button */
.login-container button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #387698;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto Light', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #1d4e69;
}

/* Back to Home link */
.login-container a {
    display: inline-block;
    font-family: 'Roboto Light', sans-serif;
    margin-top: 15px;
    color: var(--tg-theme-text-color);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #0056b3;
}

#loading {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #387698;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto Light', sans-serif;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
    font-size: 12px;
    font: 'Open Sans', sans-serif;
    display: block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Notification styles */
.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 15px 20px;
    border-radius: 25px 25px 25px 25px;
    max-height: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease, fadeOut 0.3s ease 2.7s;
    max-width: 90%;
    text-align: center;
}

.notification.success {
    background-color: #28a745; /* Green for success */
}

.notification.error {
    background-color: #dc3545; /* Red for error */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    to {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
}

/* For WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

/* For Firefox */
.scrollable-element {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}