/* General page styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--tg-theme-bg-color);
    margin: 5px;
    padding: 20px 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the content */
.container {
    padding: 20px;
    box-shadow: 0 1px 2px rgba(74, 136, 154, 0.52);
    border: 1px solid rgba(74, 136, 154, 0.54);
    border-radius: 10px;
    background-color: var(--tg-theme-bg-color);
    max-width: 1200px;
    width: 100%;
    text-align: center;
    overflow-y: auto;
}

/* Headings */
h1 {
    color: rgb(56, 133, 156);;
    font-size: 18px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(56, 133, 156);;
    font-size: 16px;
    margin-top: 20px;
    border-bottom: 2px solid rgba(221, 221, 221, 0.29);
    padding-bottom: 5px;
}

/* User info text */
.user-info p {
    font-size: 14px;
    color: #787878;
    line-height: 1.6;
    margin: 10px 0;
}

/* Strong text styling */
.user-info strong {
    color: rgb(56, 133, 156);
}

/* Styling for the images */
.images img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    transition: transform 0.3s ease;
}

/* Image hover effect */
.images img:hover {
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    .user-info p,
    .user-details p,
    .user-details-two p  {
        font-size: 12px;
    }

    .top {
        flex-direction: column; /* Stack divs vertically */
    }

    .user-info,
    .user-details,
    .user-details-two {
        width: 100%; /* Full width on small screens */
    }
}

/* Placeholders inside each loading block for trending products */
/* Main container to hold all placeholders in trending section */
.loading-container-trending {
    margin-top: 0;
    overflow-y: auto;
    flex: 3;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-side-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.loading-placeholder-trending {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    margin: 10px 0;
    height: 90%;
    padding: 10px 20px;
    gap: 16px;
    background: rgba(143, 143, 143, 0.33);
    border-radius: 8px;
}

.image-placeholder-trending {
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, rgba(174, 173, 173, 0.33) 25%, rgba(143, 143, 143, 0.33) 50%, rgba(175, 175, 175, 0.33) 75%);
    background-size: 400% 100%;
    animation: loading 3s infinite;
    border-radius: 8px;
}

.text-placeholder-trending {
    height: 20px;
    background: linear-gradient(90deg, rgba(135, 134, 134, 0.33) 25%, rgba(181, 179, 179, 0.33) 50%, rgba(143, 143, 143, 0.33) 75%);
    background-size: 400% 100%;
    animation: loading 3s infinite;
    border-radius: 4px;
}

.text-placeholder-trending.large {
    width: 80%;
}

.text-placeholder-trending.medium {
    width: 60%;
}

.text-placeholder-trending.small {
    width: 30%;
}

@keyframes loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content (image) */
.modal-content {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.bottom-nav {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 20px;*/
    gap: 20px;
}

#approve {
    padding: 10px 20px;
    background-color: #2ac11f;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#approve:hover {
    background-color: #2b6527;
    color: #fafafa;
}

#revoke {
    padding: 10px 20px;
    background-color: #f80000;
    color: #fafafa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#revoke:hover {
    background-color: #a61e1e;
    color: #fafafa;
}


/* Notification styles */
.notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 15px 20px;
   border-radius: 25px 25px 25px 25px;
    max-height: 20%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease, fadeOut 0.3s ease 2.7s;
    max-width: 90%;
    text-align: center;
}

.notification.success {
    background-color: #28a745; /* Green for success */
}

.notification.error {
    background-color: #dc3545; /* Red for error */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    to {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
}

/* Menu Bar Styling */
.menu {
    /*position: fixed;*/
    /*bottom: 20px;*/
    /*right: 20px;*/
    width: 40px;
    height: 40px;
    background-color: #0199ac;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease;
}

.menu:hover {
    transform: scale(1.1);
    background-color: white;
}

.menu:hover i{
    color: #0199ac;
}

/* Container styling for the dots */
.dots {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Each dot's base style */
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: bounce 1.5s infinite;
}

/* Animate dots with a delay for sequential effect */
.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.3s;
}
.dot:nth-child(3) {
    animation-delay: 0.6s;
}

/* Bounce animation keyframes */
@keyframes bounce {
    0%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
}

/* Top content */
.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.user-info, .user-details, .user-details-two {
    flex: 1;
    min-width: 250px;
}

.user-details p {
    font-size: 14px;
    color: #787878;
    line-height: 1.6;
    margin: 10px 0;
}

.user-details i {
    color: #0199ac;
}

.user-details-two p {
    font-size: 14px;
    color: #787878;
    line-height: 1.6;
    margin: 10px 0;
}

.user-details-two i {
    color: #0199ac;
}